/* CSS de Reset do Site */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
    padding: 0;
    border: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    width: 100%;
    height: auto;
    scroll-behavior: smooth;
    background: linear-gradient(#F1F1F1 0%, #E6EEF1 15%, #BFD7E4 45%, #BAE3FF 100%) no-repeat;
    color: #000;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
}
