/* Estilização do Site */
/* Tema Escuro */
body.dark-theme {
    background: linear-gradient(#1C1E1F 0%, #1C1E1F 15%, #1C1E1F 45%, #051119 100%) no-repeat;
    color: #fff;
}

body.dark-theme .cabecalho {
    background-color: #1C1E1F;
}

body.dark-theme .page {
    background-color: #313131;
}

body.dark-theme .settings-menu {
    background-color: #00000067;
    box-shadow: 0 2px 5px black;
}

body.dark-theme .settings-menu button {
    background-color: transparent;
    color: #fff;
}

body.dark-theme .settings-menu button:hover {
    background-color: #2e2e2e;
}

body.dark-theme .btn-scroll {
    background-color: #00000067;
    box-shadow: 0 2px 5px black;
}

body.dark-theme .btn-scroll li a img {
    filter: invert(0.8);
}

body.dark-theme .btn-scroll li a img:hover {
    filter: invert(1);
}

/* Cabeçalho */
.cabecalho {
    width: 100%;
    height: 80px;
    background-color: #F1F1F1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;

    & .logo {
        width: 205px;
        height: auto;
    }

    & .settings-menu {
        position: fixed;
        top: 10px;
        right: 10px;
        background-color: #f0f0f07a;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);

        & button {
            display: block;
            margin-bottom: 10px;
            background-color: transparent;
            padding: 5px 10px;
            cursor: pointer;
            font-weight: 400;
            display: flex;

            &:hover {
                background-color: #d6d6d6;
            }
        }
    }
}

/* Botões de Scrollagem */
.btn-scroll {
    position: fixed;
    z-index: 10000;
    width: 60px;
    height: 245px;
    display: block;
    top: 40%;
    left: 20px;
    background-color: #f0f0f07a;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 7px;

    & ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 10px;

        & li a img {
            width: 20px;
            height: 20px;
            filter: invert(0.15);
            transition: all .3s ease-out;
            background-color: #F1F1F1;
            border-radius: 7px;

            &:hover {
                filter: invert(0);
                transform: scale(1.04);
                transition: all .3s ease-in;
            }
        }
    }
}

/* Página */
main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.page {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    align-items: center;
    background-color: #ffffff;
    padding-top: 25px;
}

/* Conteúdo Inicial do Site */
.first {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 55px;

    & .title {
        width: 1050px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
    }

    & .main-img {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        & .imagem {
            width: 1000px;
            height: auto;
            border-radius: 7px;
            box-shadow: 0 0 10px black;
        }
    }

    & .content {
        width: 1000px;
        height: 300px;
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding-top: 25px;
        gap: 10px;
    }
}

/* Seções de conteúdo */
.main-sections {
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 25px;

    & .title {
        width: 1050px;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-bottom: 15px;
    }

    & .imagem {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 950px;
            height: auto;
            border-radius: 7px;
            box-shadow: 0 0 10px black;
        }
    }

    & .content {
        width: 1000px;
        height: 300px;
        display: flex;
        flex-direction: column;
        text-align: justify;
        padding-top: 25px;
        gap: 10px;
    }
}